if page.title
    - var current_title = page.title
else
    - var current_title = config.title

include _helper/helper

doctype html
html(lang=config.language)
  head
    include _partial/header

  body
    a(name='__top__')
    include _partial/top
    .body-container
      .content
          block content
      .sidebar
          include _partial/sidebar
    include _partial/footer
    include _partial/after_footer
    .goto-top#goto-top-elem
      a(href='#__top__')
        i.fa.fa-arrow-circle-up.fa-2x(aria-hidden="true")

