extends base

block content
    div#post-click
    if page.tags && page.tags.length > 0
        .post-keywords
            for tag in page.tags.toArray()
                li
                    a(href=url_for(tag.path))= tag.name

    .post-content.markdown-body
        != page.content

    div.content-prev-next
        div.content-prev
            if page.prev
                a(href=url_for(page.prev.path))= __("previous")
        div.content-next
            if page.next
                a(href=url_for(page.next.path))= __("next")

