/** base layout */
@use './ucolor.scss' as ucolor;

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-around;

    & > div {
        width: 100%;
    }

    & > .body-container {
        background-color: ucolor.$bg-content;
        margin-left: 2em;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        box-sizing: border-box;
        padding: 0.3em 0.7em;

        .content {
            box-sizing: border-box;
            width: 80%;
        }
        .sidebar {
            box-sizing: border-box;
            width: 20%;
        }
    }
}
