/** dimension */

$max-telephone-width: 600px;

$main-margin-width: 12%;

$window-width-a: 800px;
$window-width-b: 1000px;
$window-width-c: 1300px;

$main-margin-width-a: 1%;
$main-margin-width-b: 5%;
$main-margin-width-c: 8%;

