/** fonts */

@font-face {
    font-family: rockwell;
    src: url(/fonts/rockwell/ROCK.TTF);
}
@font-face {
    font-family: rockwell;
    font-weight: bold;
    src: url(/fonts/rockwell/ROCKB.TTF);
}


@font-face {
    font-family: constantia;
    src: url(/fonts/constantia/constan.ttf);
}
@font-face {
    font-family: constantia;
    font-weight: bold;
    src: url(/fonts/constantia/constanb.ttf);
}

