/** top bar styles */
@use './ucolor.scss' as ucolor;

.top {
}

.top-bar {
    display: flex;
    flex-direction: row;

    list-style: none;

    box-sizing: border-box;
    width: 100%;
    padding: 1em 1em;
    align-content: space-around;

    li {
        flex-basis: 1em;
        flex-grow: 1;
        padding: 0.3em 0.5em;
        margin: 0.0em 0.5em;
        text-align: center;

        border-radius: 0.3em;
        background-color: ucolor.$bg-top-li;

        & > a, & > a:active, & > a:link, & > a:hover, & > a:visited {
            text-decoration: none;
            color: ucolor.$fg-top-text;
        }
    }
}

