/** colors */

$google-blue: #4285f4;
$google-yellow: #f4c20d;
$google-red: #db3236;
$google-green: #4885ed;

$bg-top: $google-red;
$bg-top-li-focus: rgb(250, 250, 250);
$fg-top: rgb(250, 250, 250);
$fg-top-li-focus: $google-red;

$bg-container: rgb(241, 243, 244);
$bg-content-sidebar: rgb(255, 255, 255);

$bg-post: rgba(240, 240, 240);

$fg-post-title: rgb(0, 0, 0);
$fg-post-date: rgb(20, 20, 20);
$fg-post-categories: rgb(40, 40, 40);
$fg-post-readmore: rgb(0, 0, 0);

$bg-abstract: rgb(250, 250, 250);

$fg-url: rgb(0, 0, 238);

