if theme.mathjax.enable
  script(type='text/x-mathjax-config').
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
    });
  script(type='text/javascript', src=url_for(theme.mathjax.cdn), async)

